<!--script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script-->
<table>
<tr>
	<td>
		<p id="nombre_jugador1"><%=@jugador1%></p>
	</td>
	<td>
		<p id="nombre_jugador2"><%=@jugador2%></p>
	</td>
</tr>
<tr>
	<td>
		<p id="puntaje_jugador1"><%=@puntaje1%></p>
	</td>
	<td>
		<p id="puntaje_jugador2"><%=@puntaje2%></p>
	</td>
</tr>
<tr>
	<form action="/jugar" method="post" id="form1">
		<input type="hidden" name="jugador1" value="<%=@jugador1%>">
		<input type="hidden" name="jugador2" value="<%=@jugador2%>">
		<input type="hidden" id="ganador" name="ganador" value="1">
		<td>
			<button type="submit" id="anotar_jugador1" <%if @pungaje1=="GANADOR!"||@puntaje2=="GANADOR!"%> disabled <%end%>> Anotar</button>
		</td>
		</form>
		<form action="/jugar" method="post" id="form2">
		<input type="hidden" name="jugador1" value="<%=@jugador1%>">
		<input type="hidden" name="jugador2" value="<%=@jugador2%>">
		<input type="hidden" id="ganador" name="ganador" value="2">
		<td>
			<button type="submit" id="anotar_jugador2" <%if @pungaje1=="GANADOR!"||@puntaje2=="GANADOR!"%> disabled <%end%>>Anotar</button>
		</td>
		</form>
</tr>
</table>
		<a href="/">Inicio</a>


<!--script>
	$("#anotar_jugador2").click(function(){
		$("#ganador").val("2");
	});
</script-->